@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario:#EEF4D4;
    --color-secundario:#D63230;
    --color-terciario:#000000;
    

    --color-letras-boton:#ffffff;

    --color-hover-encriptar: #D8DFE8;
    --color-hover-desencriptar:#333;
    

    --fuente-montserrat:'Montserrat', sans-serif;
    --fuente-krona:'Krona One', sans-serif;

}

* {
    padding: 0;
    margin:0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 130px; 
}

.header__logo {
    position: absolute;
    left: 20px; 
}

.header__logo img {
    height: 130px;
}

.header__title h1 {
    font-family:var(--fuente-krona);
}



.presentacion {
    padding: 2% 15%;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    gap: 50px; 
}

.presentacion__encriptar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; 
}

textarea {
    width: 100%; 
    height: 550px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 18px;
    font-family: var(--fuente-montserrat);
}

textarea:focus{
    border-color: var(--color-secundario);
    outline: none;
}

textarea::placeholder {
    color: var(--color-terciario);
    font-size: 18px;
    font-family: var(--fuente-montserrat);
}

.presentacion__encriptar__nota {
    font-size: 18px;
    color: var(--color-terciario);
    margin-bottom: 20px;
}

.presentacion__encriptar__botones {
    display: flex;
    gap: 30px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btnPrincipal {
    background-color: var(--color-secundario);
    color: var(--color-letras-boton);
}

.btnPrincipal:hover {
    background-color: var(--color-hover-encriptar);
    color: var(--color-terciario);
}

.btnSecundario {
    background-color: var(--color-hover-encriptar);
    color: var(--color-terciario);
}

.btnSecundario:hover {
    background-color: var(--color-hover-desencriptar);
    color: var(--color-letras-boton);
}

.presentacion__desencriptar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; 
}

.presentacion__desencriptar__img {
    width: 100%; 
    max-width: 550px; 
    height: auto; 
}
.presentacion__desencriptar__mensaje{
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: var(--fuente-montserrat);
}

.presentacion__desencriptar__instrucciones{
    font-size: 17px;
    color: var(--color-terciario);
    font-family: var(--fuente-montserrat);
}

.footer{
    padding: 1.5rem ;
    color: var(--color-secundario);
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    /* font-weight: 400 ; */
    font-weight: bold;
}


/* Estilos para tablets */
@media (max-width: 768px) {
    .header {
        height: auto;
        flex-direction: column;
        align-items: center; /* Alinea elementos en el centro */
        padding: 20px;
    }

    .header__logo {
        position: static;
        margin-bottom: 10px;
    }

    .header__logo img {
        height: 100px; /* Ajusta el tamaño de la imagen para tablets */
    }

    .header__title h1 {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }

    .presentacion {
        flex-direction: column;
        padding: 2% 5%; /* Ajuste de padding para tablets */
    }

    .presentacion__encriptar, .presentacion__desencriptar {
        width: 100%; /* Ancho completo para dispositivos más pequeños */
    }

    textarea {
        height: 400px; /* Ajuste de altura para tablets */
        font-size: 16px; /* Ajuste de tamaño de fuente para tablets */
    }

    .presentacion__encriptar__botones {
        flex-direction: column;
        gap: 20px;
    }

    .presentacion__desencriptar__img {
        display: none; /* Oculta la imagen en tablets */
    }

    .presentacion__desencriptar__mensaje {
        font-size: 28px; /* Ajuste de tamaño de fuente para tablets */
    }

    .presentacion__desencriptar__instrucciones {
        font-size: 14px; /* Ajuste de tamaño de fuente para tablets */
    }
}

/* Estilos para móviles */
@media (max-width: 480px) {
    .header {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .header__logo {
        position: static;
        margin-bottom: 10px;
    }

    .header__logo img {
        height: 80px; /* Ajusta el tamaño de la imagen para móviles */
    }

    .header__title h1 {
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
    textarea {
        height: 250px; /* Ajuste de altura para móviles */
        font-size: 14px; /* Ajuste de tamaño de fuente para móviles */
    }

    .presentacion__encriptar__nota {
        font-size: 14px; /* Ajuste de tamaño de fuente para móviles */
    }

    .presentacion__desencriptar__img {
        display: none; /* Oculta la imagen en tablets */
    }

    .presentacion__desencriptar__mensaje {
        font-size: 20px; /* Ajuste de tamaño de fuente para móviles */
    }

    .presentacion__desencriptar__instrucciones {
        font-size: 12px; /* Ajuste de tamaño de fuente para móviles */
    }
}



